# Porta que o backend vai rodar
PORT=3333

# URL de conexão com o banco
DATABASE_URL=postgresql://usuario:senha@localhost:5432/pizzaria

# JWT para autenticação
JWT_SECRET=uma_chave_secreta_segura

# Outras configs
NODE_ENV=development
